body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f8f9fa;
}

.topo {
    background-color: #448aff;
    color: white;
    padding: 60px;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

h2 { border-bottom: none; margin-bottom: 5px; }
hr { border: 0; border-top: 1px solid #ccc; margin-bottom: 20px; }

button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #e3f2fd;
    transition: 0.3s;
}

#check-btn {
    background-color: #e3f2fd;
}

input {
    padding: 10px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Classes de Feedback */
.correct { background-color: #4caf50 !important; color: white; }
.incorrect { background-color: #f44336 !important; color: white; }